version: '3.8'

services:
  db:
    container_name: mysql_db
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: pass
      MYSQL_DATABASE: mydatabase
    volumes:
      - mysql_data:/var/lib/mysql
  flask_app:
    container_name: flask_app
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      MYSQL_HOST: db
      MYSQL_USER: root
      MYSQL_PASSWORD: pass
      MYSQL_DB: mydatabase

volumes:
  mysql_data: