version: "3.8"

services:
  db:
    container_name: mysql_db
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "pass"
      MYSQL_DATABASE: "mydatabase"
    ports:
      - "3306:3306"
      
    volumes:
      - mysql_data:/var/lib/mysql
      
    networks:
      - two-tier-nt
    
    healthcheck: 
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-ppass"]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 60s


  flask_app:
    container_name: flask_app
    build: 
      context: .
    ports:
      - "5000:5000"
    depends_on:
      db:
        condition: service_healthy
        
    environment:
      - MYSQL_HOST=db
      - MYSQL_USER=root
      - MYSQL_PASSWORD=pass
      - MYSQL_DB=mydatabase
      
    networks:
      - two-tier-nt

    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:5000/health || exit 1"]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 60s

volumes:
  mysql_data:

networks:
  two-tier-nt:
